<div class="container con">
    <div class="sociallinks">
        <h2>Our Handeler</h2>
        <div class="line"></div>
     <i class="fa fa-instagram" style="font-size:48px;color:#5851DB"></i><br>
     <i class="fa fa-facebook" style="font-size:48px;color:#0165E1"></i><br>
     <i class="fa fa-twitter" style="font-size:48px;color:1DA1F2"></i><br>
     <i class="fa fa-telegram" style="font-size:48px;color:0088cc"></i><br>
     <i class="fa fa-whatsapp" style="font-size:48px;color:	#128C7E"></i>
    </div>
    <div class="emailus">
        <form action="">
            <h2>Find Our News Daily</h2>
            <div class="line"></div>
            <input type="email" placeholder="Enter email Address" class="useremail">
        </form>
    </div>
</div>