<div class="container-fluid mt-5 about-style" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Team</h1>
            <p class="text-center sub-heading">grow Your Business with us</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                                <img src="Images/Brijesh.jpg" alt="setting_icon" class="settingimg">
                            </div>
                            <h4>Brijesh Singh</h4>
                            <p>Mern Developer ||Work on  React JS Node JS MongoDB , Competetive Coder 
                            
                            </p>
                            <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>


                </div>

                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img src="Images/Aswani.jpg" alt="Speed_up" class="settingimg">
                            </div>
                            <h4>Ashwani Kumar</h4>
                            <p>Full Stack Developer || Work On the Node JS MongoDB , Competetive Coder </p>
                             <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>
                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img src="Images/Himanshu.jpg" alt="Marketing" class="settingimg">
                            </div>
                            <h4>Himanshu Singh</h4>
                            <p>Ethical Hacker || Secure The Unsecured Website Ethically || Competetive Coder </p>
                             <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>


                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img src="Images/Ajeet.jpg" alt="Promotion" class="settingimg">
                            </div>
                            <h4>Ajeet Kumar</h4>
                            <p>Java FUll Stack Developer  || Competetive Coder || video Editor</p> 
                             <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>


                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img src="Images/pankaj.jpg" alt="setting_icon" class="settingimg">
                            </div>
                            <h4>Pankaj Singh</h4>
                            <p>Video Editor And Master in Photoshop ||  Frontend Developer</p>
                             <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>


                </div>
                 <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                                <img src="Images/Baljeet.jpg" alt="connection" class="settingimg">
                            </div>
                            <h4>Baljeet Prajapati</h4>
                            <p>App Developer ,Competetive Coder, Video Editor , Web Developer , Ethical Hacker</p>
                             <button class="btn-style btn-primary">Visit Profile</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>